<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400;1,700&display=swap">

<style>
body {
  background: #d6d6d6;
  color: #222;
  font-family: Literata, Georgia, "Times New Roman", serif;
}

/* nudge the theme's gray accents so they still separate from the page */
.article-meta, .menu a { background: #bfbfbf; }
thead, tfoot, tr:nth-child(even) { background: #bfbfbf; }
code, blockquote { background: #c7c7c7; }
pre code { background: none; }
pre {
  background: #eee;
  border-color: #a8a8a8;
  box-shadow: 5px 5px 5px #bfbfbf;
}
blockquote { border-left-color: #999; }
hr { color: #a0a0a0; border-color: #a0a0a0; }
table { border-top-color: #666; border-bottom-color: #666; }
</style>
